*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.voteModal {
  background-color: #e4d8dc;
  color: black;
  border: solid 1px;
  z-index: 1000;
  position: absolute;
  --widthPLA: 100%;
  --widthPLB: calc(var(--widthPLA) - 16rem);
  width: calc(var(--widthPLB) / 4);
  height: 620px;
}

.voteContainer {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.voteContainer .voteForm {
  align-self: stretch;
}

.voteForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voteTitle {
  margin-top: 1rem;
  font-weight: bold;
}

.votePlayername {
  font-size: 1.2rem;
}

.voteSubmitBtn {
  margin-bottom: 1.5rem;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(72, 20, 114);
  background-color: rgb(155, 78, 155);
  border-radius: 10%;
  border: solid;
}

.voteSubmitBtn:hover {
  transform: scale(1.1);
  color: black;
}
