*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.voteModal {
  background-color: #ea9f4e;
  /* box-shadow: 0 2px 20px #e0e4ec; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 850px;
  max-width: 90%;
  height: 600px;
  max-height: 90%;
  z-index: 1000;
  color: black;
}

.voteContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
