.CreateGamePage {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  font-family: Mochiy-Pop-P-One;
}

.FormBox {
  display: flex;
  top: 30%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
  border-width: 4px;
  border-color: rgb(121, 67, 229);
  height: 25vh;
  min-height: 200px;
  width: 350px;
  margin-top: 4%;
}

.CreateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UserNameForm {
  width: 80%;
  height: 40px;
  border-color: black;
  border-radius: 3px;
}

.CreateButton {
  width: 80%;
  height: 40px;
  font-size: 20px;
  color: #481472;
  border-radius: 3px;
  border-color: black;
  background-color: #b998b9;
}

.CreateButton:hover {
  transform: scale(1.1);
  color: rgb(121, 67, 229);
}

.logo_img {
  margin-top: 2%;
  width: 35%;
  height: 35%;
}

.Form_username {
  color: rgb(65, 36, 124);
}
