.each-player {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0.5px solid black;
  /* border-radius: 30px; */
}

.host {
  margin-bottom: 5px;
  border: 0.5px solid black;
  /* border-radius: 25px; */
}

.each-spectator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.just-players {
  max-width: 100%;
  max-height: 350px;
  overflow-y: auto;
  text-align: justify;
  margin: auto;
  width: 100%;
  padding: 10px;
  font-weight: 500;
}

.just-players::-webkit-scrollbar {
  display: none;
}

.just-specs {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-align: justify;
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.just-specs::-webkit-scrollbar {
  display: none;
}

.join-start-buttons {
  margin-top: 2%;
}

.playercount-and-buttons {
  /* margin-top: 5%; */
  max-height: 100px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.total-game-list {
  max-height: 620px;
}

.players-list {
  max-height: 520px;
}

.players-spec-count {
  font-weight: 400;
}

.player-title {
  margin-top: 5%;
  font-size: 20px;
}

.spec-title {
  font-size: 20px;
}

