.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.game > *:first-child {
  align-self: center;
}

.game_logo {
  margin: 2.5rem;
  margin-bottom: 0.8rem;
  font-family: Mochiy-Pop-P-One;
}

.game_topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.game_body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 620px;
  grid-template-areas: 'a b b c';
  justify-content: center;
  gap: 2rem;
  margin: 0 5rem;
  margin-bottom: 5rem;
}

.game_players {
  grid-area: a;
  background-color: #fff;
  border: 2px solid #263238;
}

.game_canvas {
  grid-area: b;
  border-radius: 2%;
}

.game_chat {
  grid-area: c;
  border: 2px solid #263238;
  background-color: #fff;
}

.game_main_logo {
  margin-top: 1rem;
  width: 15%;
  height: 100%;
}

.game_main_logo:hover {
  transform: scale(1.1);
}

.game_rules {
  margin-bottom: 1.5rem;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(72, 20, 114);
  background-color: rgb(155, 78, 155);
  border-radius: 10%;
  border: solid;
  cursor: pointer;
}

.game_rules:hover {
  transform: scale(1.2);
  color: black;
}
