@font-face {
  font-family: Mochiy-Pop-P-One;
  src: url(./fonts/MochiyPopPOne-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

strong {
  font-weight: bold;
}
