*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.resultsModal {
  background-color: #e4d8dc;
  color: black;
  border: solid 2px;
  z-index: 1100;
  position: absolute;
  --widthPLA: 100%;
  --widthPLB: calc(var(--widthPLA) - 16rem);
  width: calc(var(--widthPLB) / 4);
  height: 80vh;
}

.resultsContainer {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.resultsTitle {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.resultsText {
  font-size: 1.5rem;
}

.resultsBtn {
  margin-bottom: 2rem;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(72, 20, 114);
  background-color: rgb(155, 78, 155);
  border-radius: 10%;
  border: solid;
}

.resultsBtn:hover {
  transform: scale(1.1);
  color: black;
}
